token: 
banned-role: 
permission-override: []
review: ["",] # [type, id] Set type to "channel" or "dm" and id to a channel id or user id 
imageurl: # URL where uploaded images are saved 
image-save-path: # where image should go
error-channel: # channel to log errors to
suggestions-channel: # suggestions channel